header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: cornflowerblue;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.div-logo {
    font-size: 3rem;
    padding: .5rem;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin: 1rem;
}

main div {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}