<header>
    <div class="div-logo" appCambiarFondo>{{ textoEncabezado | letraCapital}} Adrian Constantino</div>
    <nav>
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/acerca">Acerca</a></li>
            <li><a routerLink="/productos">Productos</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>
<main>
    <!--     <app-inicio></app-inicio>
    <app-acerca></app-acerca>
    <app-contactos></app-contactos>
 -->

    <div><router-outlet></router-outlet></div>

</main>
<footer></footer>